{% extends 'core/index.html' %}

{% block title %}{% endblock %}

{% block content %}
{% include 'core/search_books_include.html' %}
   <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Количество страниц</th>
    </tr>
  </thead>
  <tbody>
  {% for book in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td> <a href="{% url 'core:book_detail' book.pk %}" > {{ book.name }} </a> </td>
      <td>{{ book.pages|add:"5"|default:'-' }}</td>
    </tr>
  {% empty %}
    <h4> Не найдено </h4>
  {% endfor %}

</table>

    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js" ></script>
  </body>
</html>
{% endblock %}